@media (max-width: 375px) {
    .qr-code-component {
        width: 18rem;

        &_inner {

            &_header {
                width: 17rem;
            }

            &_content {
                width: 78%;
            }

        }
    }
}