@media (max-width: 375px) {
    .qr-code-component {
        width: 20.2rem;

        &_inner {

            &_header {
                width: 17rem;
                padding: 1.15rem;
            }

            &_title {
                width: 75%;
            }

            &_content {
                width: 70%;
            }

        }
    }
}